@charset "UTF-8";
@import url(//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css);
@import url(//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css);
@import url(assets/css/bootstrap-material.css);
@import url(assets/lib/tether/css/tether.min.css);

$emerland: #2ecc73 !default;
$secondary: #E74C3C;// #cc2e39 !default;
$tertiary: #2e87cc !default;
$peterriver: #3498db !default;
$belizehole: #2980b9 !default;
$alizarin: #e74c3c !default;
$pomegranate: #c0392b !default;
$clouds: #E6E6E6 !default;
$darkclouds:   darken($clouds, 3%) !default;
$midnightblue: #2c3e50 !default;

$primary-color: #2ecc73;

/********************
 * DONT MODIFY BASE *
 ********************/
$page-bg: lighten(grayscale($clouds), 20%); 
$compliment: complement($primary-color);
$lighten10: lighten( $primary-color, 10% );
$lighten20: lighten( $primary-color, 20% );
$primary-dark: darken( $primary-color, 10% );
$primary-darker: darken( $primary-color, 20% );
$invert: invert($primary-color);
$grayscale: grayscale($primary-color);
$primary-faded: rgba($primary-color, 0.6 );
$opacify: opacify($primary-color, 0.6);

$primary-text: invert($primary-color);
$secondary-text: invert($compliment);

body{
	background: $page-bg;
	color: $primary-text;
}

a{
	color: $secondary-text;
	:hover{
		text-decoration: none;
		cursor: pointer;
	}
	.card &.activator{
		color: $primary-darker;
	}
}

.btn{
	border-radius: 0px;
}

.primary-color {background: $primary-color;}
.primary-light {background: $lighten10;}
.primary-lighter {background: $lighten20}

.primary-dark {background: darken( $primary-color, 10% )}
.primary-darker {background: darken( $primary-color, 20% )}

.complement {background: $compliment;}
.invert {background: invert($primary-color);}
.opacify {background: opacify($primary-color, 0.6)}

.primary {
   background: $primary-color;
   &:hover {
      background: mix($primary-color, white, 80%);
   }
 }
 
  .secondary {
   background: $secondary;
   &:hover {
      background: mix($secondary, white, 80%);
   }
 }
 
  .tertiary {
   background: $tertiary;
   &:hover {
      background: mix($tertiary, white, 80%);
	 }
 }
 
 .m10{
	 margin: 10px;
 }
 
 .mtb10{
	 margin: 10px 0;
 }
 
 .text-white{
	 color: #fff !important;
 }

.card-data{
	background-color: $primary-dark !important;
}

.card{
	background: $primary-color;
	color: $clouds;
}

.btn-floating{
	background-color: $compliment !important;
}